#MouseOver {
   position: absolute;
   background-color: #FFF;
   padding-bottom:2px;
   padding-left:2px;
   padding-right:2px;
   padding-top:2px;
   opacity:0.8;
   font-family:arial,tahoma,helvetica,sans-serif;
   font-size:11px;
}
#OpacitySlider {
   position: absolute;
   right:5px;
   top:111px;
}