#MouseOver {
   position: absolute;
   background-color: #FFF;
   padding-bottom:2px;
   padding-left:2px;
   padding-right:2px;
   padding-top:2px;
   opacity:0.8;
   font-family:tahoma,arial,verdana,sans-serif;
   font-size:11px;
}
#OpacitySlider {
   position: absolute;
   right:5px;
   top:111px;
}

#loading-mask{
   position:absolute;
   left:0;
   top:0;
   width:100%;
   height:100%;
   z-index:20000;
   background-color:white;
}

#loading{
   position:absolute;
   left:45%;
   top:40%;
   padding:2px;
   z-index:20001;
   height:auto;
}

#loading a {
   color:#225588;
}

#loading .loading-indicator{
   background:white;
   color:#444;
   font:bold 13px tahoma,arial,verdana,sans-serif;
   padding:10px;
   margin:0;
   height:auto;
}

#loading-msg {
   font: normal 10px tahoma,arial,verdana,sans-serif;
}

#waiting{
   position:absolute;
   left:45%;
   top:110px;
   padding:2px;
   z-index:20001;
   height:auto;
   display:none;
}

#waiting a {
   color:#225588;
}

#waiting .loading-indicator{
   background:white;
   color:#444;
   font:bold 13px tahoma,arial,verdana,sans-serif;
   padding:16px;
   margin:0;
   height:auto;
}

.olControlAttribution  {
   bottom:3px !important;
   font-family:tahoma,arial,verdana,sans-serif !important;
   font-size:11px !important;
   left:3px !important;
}

div.olControlMousePosition  {
   bottom:3px !important;
   font-size:11px !important;
   right:3px !important;
}

.zoomin {
    background-image:url(../img/zoom_in.png) !important;
    height:20px !important;
    width:20px !important;
}

#routingpanel {
  background-color:#F0F0F0;
}

#routingPanelItem {
  background-color:#F0F0F0;
}

#routingPanelItem  .x-panel-body  {
   background-color:#F0F0F0 !important;
}

#uploadpanel {
  background-color:#F0F0F0;
}

#uploadPanelItem {
  background-color:#F0F0F0;
}

#uploadPanelItem  .x-panel-body  {
   background-color:#F0F0F0 !important;
}

#SearchResult {
   background-image:url(../img/circle.gif) !important;
   position: absolute;
   opacity:1;
   font-family:tahoma,arial,verdana,sans-serif;
   font-size:11px;
}

/* ext32 bug */
.x-statusbar .x-status-busy {
    background-image: url(../../ext32/resources/images/default/grid/loading.gif) !important;
}

.x-form-item {
   font-family:tahoma,arial,verdana,sans-serif;
   font-size:11px;
}

.x-form-field {
   font-family:tahoma,arial,verdana,sans-serif;
   font-size:11px;
}
