# Main root: where openaddresses and env is stored File
MAIN_ROOT=/home/cmoullet/Software/openaddresses

# Python
DEBUG=false
FULL_STACK=false
ROOT_PATH=/

# MapServer
PROJ_LIB=/home/cmoullet/Software/openaddresses/openaddresses/openaddresses/mapserver
MS_ERRORFILE=/tmp/errors.txt
DATABASE_CONNECTION_ADDRESS=user=www-data password=www-data dbname=openaddresses host=localhost port=5432
MAPFILE=/home/cmoullet/Software/openaddresses/openaddresses/openaddresses/cascading.map

# Javascript
BASE_WMS=http://127.0.0.1:5000/mapserv?
ADDRESS_WMS=http://127.0.0.1:5000/mapserv?
SEARCH_URL=/search
UPLOADS_URL=/uploads
MOBILE_SEARCH_URL=http://127.0.0.1:5000/search
GOOGLE_KEY=ABQIAAAAY-I0w1WyNCVHbxpuwQWMpRRnAJBtUvoaKLoKtc0u-OK_IqETWRTqn5lS_8ikkYRz7hja-lR1USqTOQ
GOOGLE_KEY_OPENADDRESSES=ABQIAAAAY-I0w1WyNCVHbxpuwQWMpRRnAJBtUvoaKLoKtc0u-OK_IqETWRTqn5lS_8ikkYRz7hja-lR1USqTOQ
GOOGLE_KEY_OPENADDRESS=ABQIAAAAY-I0w1WyNCVHbxpuwQWMpRTsh4Zxyx8e8chdWc1s-DtIkJpnwhTyBRSmFQbl_E6A-YdsTsBzmEhziA
GOOGLE_KEY_OPENADDRESSMAP=ABQIAAAAY-I0w1WyNCVHbxpuwQWMpRTpjUh8cBmGPMXri8JngaSkBzEK8xR_EI6hGDPnWApjHfKbEUaFSTYpKQ
CLOUDMADE_KEY=6588c43109dd426f8bc067b508a2e84a
CLOUDMADE_KEY_OPENADDRESSES=66b5009a8b0c4469895fa847dc348dba
CLOUDMADE_KEY_OPENADDRESS=9e169b77a17a4f04b38248474d8bb4b8
CLOUDMADE_KEY_OPENADDRESSMAP=ecd1095d5f9f490582071fc5057e830f
ACTIVATE_HOVER=true

# Apache
PROJECT_URL=
PROJECT_ROOT=/home/cmoullet/Software/openaddresses/openaddresses/openaddresses
WSGI_MODULE=/usr/lib/apache2/modules/mod_wsgi.so

# Postgres
SQLALCHEMY_URL=postgres://www-data:www-data@localhost:5432/openaddresses